<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
	<select id="selectReportList" resultMap="reportListMap">
		  SELECT REPORT_NO
		       , REPORT_TITLE
		       , REPORT_DATE
		       , REPORT_CONTENT
		       , REPORT_REPORTED
		       , REPORT_PROCESSING_DATE
		       , REPORT_PROCESS_YN
		       , MEMBER_ID
		       , SHOP_ID
		    FROM REPORT_BOARD
			<if test="searchKeyword != null and searchKeyword != '' ">
			WHERE REPORT_DATE like to_date(#{searchKeyword}, 'YYYY-MM-DD')
			</if>
		ORDER BY REPORT_NO DESC
	</select>
	<resultMap type="report" id="reportListMap">
		<id column="REPORT_NO" property="reportNo" />
		<result column="REPORT_TITLE" property="reportTitle" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REPORT_REPORTED" property="reportReported" />
		<result column="REPORT_PROCESSING_DATE" property="reportProcessingDate" />
		<result column="REPORT_PROCESS_YN" property="reportProcessYn" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="SHOP_ID" property="shopId" />
	</resultMap>
	
	<select id="selectOneReprotDetail" resultType="report">
		  SELECT REPORT_NO
		       , REPORT_TITLE
		       , REPORT_DATE
		       , REPORT_CONTENT
		       , REPORT_REPORTED
		       , REPORT_PROCESSING_DATE
		       , REPORT_PROCESS_YN
		       , MEMBER_ID
		       , SHOP_ID
		    FROM REPORT_BOARD
		   WHERE REPORT_NO = #{reportNo}
	</select>
	
	<select id="selectReprotImageDetail" resultType="reportImage">
		     SELECT A.REPORT_NO
		          , B.REPORT_IMG_ID
		          , B.REPORT_IMG_ORIGIN
		          , B.REPORT_IMG_REAMED AS REPORT_IMG_RENAMED
		       FROM REPORT_BOARD A
	      LEFT JOIN REPORT_IMAGE B
		         ON A.REPORT_NO = B.REPORT_NO
		      WHERE A.REPORT_NO = #{reportNo}
		   ORDER BY B.REPORT_IMG_ID ASC
	</select>
<!-- 
	<resultMap type="reportImage" id="reportImageListMap">
		<id column="REPORT_NO" property="reportNo" />
		<result column="REPORT_IMG_ID" property="reportImgId" />
		<result column="REPORT_IMG_ORIGIN" property="reportImgOrigin" />
		<result column="REPORT_IMG_REAMED" property="reportImgRenamed" />
	</resultMap>
 -->
	<update id="updateReportYn">
		UPDATE REPORT_BOARD
           SET REPORT_PROCESS_YN = 'Y'
             , REPORT_PROCESSING_DATE = SYSDATE
         WHERE REPORT_NO = #{reportNo}
	</update>
	
	<select id="getTotalContents" resultType="_int">
		SELECT COUNT(*)
		  FROM REPORT_BOARD
	
	</select>
	
	<insert id="insertReport">
		INSERT INTO REPORT_BOARD 
		          ( REPORT_NO
				  , REPORT_TITLE
				  , REPORT_DATE
				  , REPORT_CONTENT
				  , REPORT_REPORTED
				  , REPORT_PROCESSING_DATE
				  , REPORT_PROCESS_YN
				  , MEMBER_ID
				  , SHOP_ID
        ) VALUES (SEQ_REPORT_BOARD_NO.NEXTVAL
        	   , #{reportTitle}
        	   , SYSDATE
        	   , #{reportContent}
        	   , (SELECT MEMBER_ID FROM SHOP WHERE SHOP_ID = #{shopId})
        	   , null
        	   , 'N'
        	   , #{memberId}
        	   , #{shopId}
        )
	<!-- 방금 insert된 report객체의 no컬럼(pk)값을  report.no에 대입 -->
	<selectKey resultType="_int" keyProperty="reportNo" order="AFTER">
		select
			SEQ_REPORT_BOARD_NO.currval
		from
			dual
	</selectKey>
	</insert>
	<insert id="insertReportImg">
		insert into
			REPORT_IMAGE
		values (
			SEQ_REPORT_IMAGE_NO.nextval,
			#{reportImgOrigin},
			#{reportImgRenamed},
			#{reportNo}
		)
	</insert>
	
	<select id="selectOneReportImage" resultType="reportImage">
		 SELECT REPORT_NO
		      , REPORT_IMG_ID
		      , REPORT_IMG_ORIGIN
		      , REPORT_IMG_REAMED AS REPORT_IMG_RENAMED
		   FROM REPORT_IMAGE
		  WHERE REPORT_IMG_ID = #{reportNo}
	</select>
 <select id="selectOneShop" resultType="Shop">
 	SELECT * FROM
 	SHOP 
 	WHERE SHOP_ID = #{shopId}
 
 
 
 
 </select>
</mapper>