@charset "UTF-8";

/* 회원 가입 */
div#enroll-container { width:600px; }
div#enroll-container input, div#enroll-container select { margin-bottom:10px; }
div#enroll-container table th { text-align:right; padding-right:5px; }
div#enroll-container table td { text-align:left; }


/* 중복아이디체크관련 */
div#memberId-container { position:relative; padding:0px; }
span.guide { display:none; font-size:12px; position:absolute; top:12px; right:-160px; }
span.ok { color:green; }
span.error { color:red; }
