.section {
    width: 1024px;
    height: 768px;
    overflow: auto;
    justify-content: center;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=====지우기=====*/
/*=====지우기=====*/
.content-mystorepro {
    border: 2px solid black;
    margin-left: 20px;
}
#shopMemo {
    margin-top: 41px;
    margin-left: 48px;
    height: 72px;
    font-size: 20px;
}
/*내상점관리 버튼*/
/*전체*/
.div-division > .left {
    width: 40px;
    float: left;
    box-sizing: border-box;
    font-size: 20px;
}
.div-division > .right {
    width: 94%;
    float: right;
    box-sizing: border-box;
    font-size: 20px;
}
#btn_group {
    float: right;
    margin-top: -17px;
}
#btncurrent {
    width: 37px;
    background: none;
    border: none;
    font-size: 14px;
}
#btnrowprice {
    width: 37px;
    background: none;
    border: none;
    font-size: 14px;
}
#btnhighprice {
    width: 37px;
    background: none;
    border: none;
    font-size: 14px;
}
/*상품나열하기*/
.product-table {
    margin-left: 10px;
}
.wrap-pro {
    float: left;
}
.product {
    position: relative;
    height: 276px;
    color: rgb(33, 33, 33);
    margin: 10px;
    cursor: pointer;
}
.product-box {
    height: 244px;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    width: 188px;
}
#productImg {
    display: block;
    width: 168px;
    height: 215px;
    object-fit: cover;
    margin-left: 14px;
    margin-top: 5px;
    border-radius: 8px;
}
.pro-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 175px;
    margin-left: 16px;
}
.pro-price {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    margin-left: 16px;
}
.div-division2 > .left2 {
    width: 10%;
    float: left;
    box-sizing: border-box;
    font-size: 18px;
}
.div-division2 > .right2 {
    width: 89%;
    float: right;
    box-sizing: border-box;
    font-size: 18px;
} 