<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTDMapper3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewComment">

  
    <select id="selectTotalCommentsNo" resultType="_int">
        select count(*)
        	from review_comment
    </select>
    
    <insert id="insertReviewComment">
        insert into review_comment values
        	(
        		seq_review_comment_no.nextval,
        		#{reviewContent},
        		sysdate,
        		default,
        		#{memberId},
        		#{reviewNo}
        	)
    </insert>
    
    <select id="selectReviewCommentOne" resultType="reviewComment">
        select review_comment_no, review_content,member_id,review_no
        	from review_comment
        	where review_no = #{reviewNo}
    </select>
    
</mapper>