<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewCommnet">




<insert id="insertReviewComment">
		insert into review_comment values
		(
			seq_review_comment_no.nextval,
			#{reviewContent},
			sysdate,
			default,
			#{memberId},
			#{reviewNo}
		)
	</insert>
	

</mapper>