<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="utils">
	<select id="selectLocationList" resultType="location">
		select * from location
	</select>
	
	<select id="selectCategoryList" resultType="category">
		select * from category
	</select>
	
	<select id="selectJjimList" resultType="jjimList">
		select * from jjim_list
		where member_id = #{memberId}
	</select>

	<select id="selectTotalJjimNo" resultType="_int">
		select count(*) from jjim_list
		where member_id = #{memberId}
	</select>
</mapper>