<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="selectNoticetList" resultMap="noticeListMap">
		  SELECT BOARD_NO
		       , BOARD_TITLE
		       , BOARD_ENROLL_DATE
		       , BOARD_DELETE_YN
		       , BOARD_CONTENT
		       , MEMBER_ID
		    FROM BOARD
		   WHERE BOARD_CATEGORY = 'C6'
		ORDER BY BOARD_NO DESC
	</select>
	<resultMap type="notice" id="noticeListMap">
		<id column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_ENROLL_DATE" property="boardEnrollDate" />
		<result column="BOARD_DELETE_YN" property="boardDeleteYn" />
		<result column="BOARD_CATEGORY" property="boardCategory" />
		<result column="MEMBER_ID" property="memberId" />
	</resultMap>
	
	<select id="getTotalContents" resultType="_int">
		SELECT COUNT(1)
		  FROM BOARD
		 WHERE BOARD_CATEGORY = 'C6'
	</select>

</mapper>