<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="selectOneMember" resultMap="memberMap">
		select *
		from member m
			left join authorities a
				on m.member_id = a.member_id
		where m.member_id = #{memberId}
	</select>
   
	<insert id="memberEnroll">
		insert into 
			member
		values(
			#{memberId},
			#{memberPassword},
			#{memberName},
			#{birthday},
			#{email},
			#{phone},
			default,
			#{profileOriginal},
			#{profileRenamed},
			#{memberAddr},
			#{locCode},
			default,
			default
		)
	</insert>
	
	<update id="memberUpdate">
		update member
		set
			profile_original = #{profileOriginal},
			profile_renamed = #{profileRenamed},
			member_name = #{memberName},
			birthday = #{birthday},
			email = #{email},
			phone =	#{phone},
			member_addr = #{memberAddr}
		where member_id = #{memberId}		
	</update>
	
	<resultMap type="member" id="memberMap">
		<id column="member_id" property="memberId"/>
		<result column="member_password" property="memberPassword"/>
		<result column="member_name" property="memberName"/>
		<result column="birthday" property="birthday"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="member_enroll_date" property="memberEnrollDate"/>
		<result column="enabled" property="enabled"/>
		<collection property="authorities" ofType="simpleGrantedAuthority">
			<constructor>
				<arg column="auth" javaType="string"/>
			</constructor>
		</collection>
	</resultMap>
</mapper>