<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="selectBoardList" resultMap="boardCollectionMap">
		select b.*,
	        a.board_img_id,
	        a.board_img_origin,
	        a.board_img_renamed,
	        a.board_no
		from board b
	        left join board_image a
	            on b.board_no = a.board_no
	    <where>
	    	board_delete_yn = 'N'
		 	<if test="locCode != '' and locCode != null">
		        and b.loc_code = #{locCode}
		 	</if>
			<if test="boardCategory != '' and boardCategory != null">
		        and b.board_category = #{boardCategory}
		 	</if>
	    </where>
	    <choose>
	    	<when test='code.equals("L")'>
	    		order by
	    			b.board_enroll_date desc
	    	</when>
	    	<when test='code.equals("H")'>
	    		order by
	    			b.board_like desc
	    	</when>
	    	<otherwise>
	    		order by
	    			b.board_enroll_date desc
	    	</otherwise>
	    </choose>
	</select>
	
	<resultMap type="board" id="boardCollectionMap">
		<id column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="board_enroll_date" property="boardEnrollDate" />
		<result column="board_update_date" property="boardUpdateDate" />
		<result column="board_delete_yn" property="boardDeleteYN" />
		<result column="board_category" property="boardCategory" />
		<result column="board_like" property="boardLike" />
		<result column="member_id" property="memberId" />
		<result column="loc_code" property="locCode" />
		<collection property="boardImageList" ofType="boardImage">
			<id column="board_img_id" property="boardImgId" />
			<result column="board_img_origin" property="boardImgOrigin" />
			<result column="board_img_renamed" property="boardImgRenamed" />
			<result column="board_no" property="boardNo" />
		</collection>
	</resultMap>
	
	
	
	<select id="getTotalContents" resultType="_int" parameterType="string">
		select count(*)
		from board
		<if test="value != '' and value != null">
	        where board_category = #{value}
	 	</if>
	</select>
	
	<insert id="insertBoard">
		insert into board
		values (
			seq_board_no.nextval,
			#{boardTitle},
			#{boardContent},
			default,
			default,
			default,
			#{boardCategory},
			default,
			#{memberId},
			#{locCode}
		)
		
		<selectKey resultType="_int" keyProperty="boardNo" order="AFTER">
			select seq_board_no.currval
			from dual
		</selectKey>
	</insert>
	
	<update id="updateBoard">
		update board set
			board_title = #{boardTitle},
			board_content = #{boardContent},
			board_update_date = sysdate,
			board_category = #{boardCategory},
			loc_code = #{locCode}
		where board_no = #{boardNo}
	</update>
	
	
	<insert id="insertBoardImg">
		insert into
			board_image
		values (
			seq_board_image_no.nextval,
			#{boardImgOrigin},
			#{boardImgRenamed},
			#{boardNo}
		)
	</insert>

	<update id="deleteBoard">
		update board set
			board_delete_yn = 'Y'
		where board_no = #{boardNo}
	</update>
	
	<select id="selectOneBoard" resultMap="boardCollectionMap">
		select b.*,
	        a.board_img_id,
	        a.board_img_origin,
	        a.board_img_renamed,
	        a.board_no
		from board b
	        left join board_image a
	            on b.board_no = a.board_no
	    where b.board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoardImg">
		delete from board_image where board_img_id = #{id}
	</delete>
	
	<select id="selectBoardLikeList" resultType="boardLike">
		select * from board_Like where member_id = #{memberId}
	</select>
	
	<update id="updateBoardLike">
		update board set
			board_like = #{likeCnt}
		where board_no = #{boardNo}
	</update>
	
	<insert id="insertBoardLike">
		insert into board_like
		values(#{memberId}, #{boardNo})
	</insert>
	
	<delete id="deleteBoardLike">
		delete from board_like
		where board_no = #{boardNo}
	</delete>
	
	<insert id="insertBoardComment">
		insert into board_comment values
		(
			seq_board_comment_no.nextval,
			#{boardCommentContent},
			#{boardCommentLevel},
			#{boardCommentRef},
			sysdate,
			default,
			#{boardNo},
			#{memberId}
		)
	</insert>
	
	<select id="selectBoardCommentList" resultType='boardComment'>
		select * from board_comment 
		where board_no = #{boardNo} and BOARD_COMMENT_DEL_FLAG = 'N'
		start with board_comment_level=1 
		connect by prior board_comment_id = board_comment_ref order by board_comment_id
	</select>
	
	<update id="boardCommentUpdate">
		update board_comment set
			BOARD_COMMENT_CONTENT = #{boardCommentContent},
			BOARD_COMMENT_ENROLL_DATE = sysdate
		where BOARD_COMMENT_ID = #{boardCommentId}
	</update>
	
	<update id="boardCommentDelete">
		update board_comment set
			board_comment_del_flag = 'Y'
		where board_comment_id = #{boardCommentId}
	</update>
</mapper>