<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<insert id="shopEnroll">
		insert into 
			shop
		values(
			#{shopId},
			default,
			default,
			default,
			null,
			#{memberId}
		)
	</insert>
	
	<select id="selectShopId" resultType="String">
		select shop_id
		from shop
		where member_id = #{loginMemberId}
	</select>
	
	<select id="selectShop" resultType="shop">
	select *
	from shop
	where shop_id = #{shopId}
	</select>

	<update id="updateVisitCount" parameterType="String">
	update shop set
	shop_visit_count = shop_visit_count + 1
	where shop_id =#{myShopId}
	</update>
	
	
	<select id= "selectMembershopId" resultType="String">
	select shop_id from shop where member_id = #{memberId}
	</select>
	
	<select id="selectOpenDay" resultType="_int">
	select trunc(SYSDATE - member_enroll_date + 1)
	from member 
	where member_id = (select member_id from shop where shop_id=#{shopId})
	
	</select>
	
	<select id="selectsellCount" resultType="_int">
	
	select count(product_ynh) 
	from product 
	where product_ynh ='Y' and shop_id = #{shopId}
	
	</select>
	
	<select id="selectMemberId" resultType="String">
	select member_id
	from shop
	where shop_id = #{shopId}
	</select>


</mapper>