<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopmanage">

	<insert id="productEnroll" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		insert into product
		values
		(
			#{productId}
			, #{productName}
			, #{productPrice}
			, default
			, sysdate
			, #{productContent}
			, default
			, #{shopId}
			, #{categoryCode}
		)
	</insert>
	
	<insert id="productImageEnroll" parameterType="com.kh.sharecarrot.product.model.vo.ProductImage">
		insert into product_image
		values
		(
			seq_product_image_no.nextval
			, #{productImgOrigin}
			, #{productImgRenamed}
			, #{productId}
		)
	</insert>
	
	<select id="selectShopInfo" parameterType="String" resultType="com.kh.sharecarrot.shop.model.vo.Shop">
		select 	shop_id
				, shop_total_score
				, shop_visit_count
				, shop_sell_count
				, shop_memo
				, member_id
		from 	shop
		where 	member_id = #{memberId}
	</select>
	
	<select id="selectProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.Product">
			select 	product_id
					, product_name
					, product_price
					, product_ynh
					, product_reg_date
					, product_content
					, product_del_flag
					, shop_id
					, category_code
			from 	product
			where 	product_del_flag = 'N'
			<if test="shopId != '' and shopId != null">
			and 	shop_id = #{shopId}
			</if>
			<if test="productId != '' and productId != null">
			and 	product_id = #{productId}
			</if>
			<if test="productName != '' and productName != null">
			and 	product_name like '%' || #{productName} || '%'
			</if>
			<if test="productYnh != '' and productYnh != null">
			and 	product_ynh = #{productYnh}
			</if>
			<if test="categoryCode != '' and categoryCode != null">
			and 	category_code = #{categoryCode}
			</if>
	</select>
	
	<select id="selectProductList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.Product">
		select *
		from
			(select a.*, rownum as rnum
			from
				(select 	product_id
						, product_name
						, product_price
						, product_ynh
						, product_reg_date
						, product_content
						, product_del_flag
						, shop_id
						, category_code
				from 	product
				where 	product_del_flag = 'N'
				<if test="shopId != '' and shopId != null">
				and 	shop_id = #{shopId}
				</if>
				<if test="productId != '' and productId != null">
				and 	product_id = #{productId}
				</if>
				<if test="productName != '' and productName != null">
				and 	product_name like '%' || #{productName} || '%'
				</if>
				<if test="productYnh != '' and productYnh != null">
				and 	product_ynh = #{productYnh}
				</if>
				<if test="categoryCode != '' and categoryCode != null">
				and 	category_code = #{categoryCode}
				</if>
				)a
			)
		where rnum  <![CDATA[>=]]> 5 * (to_number(#{pageNum}) -1) +1 and rnum <![CDATA[<=]]> 5 * to_number(#{pageNum})
	</select>
	
	<select id="selectProductListCount" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="Integer">
		select 	count(*)
		from 	product
		where 	product_del_flag = 'N'
		<if test="shopId != '' and shopId != null">
		and 	shop_id = #{shopId}
		</if>
		<if test="productId != '' and productId != null">
		and 	product_id = #{productId}
		</if>
		<if test="productName != '' and productName != null">
		and 	product_name like '%' || #{productName} || '%'
		</if>
		<if test="productYnh != '' and productYnh != null">
		and 	product_ynh = #{productYnh}
		</if>
		<if test="categoryCode != '' and categoryCode != null">
		and 	category_code = #{categoryCode}
		</if>
	</select>
	
	<select id="selectProductImageList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.ProductImage">
		select  *
		from 	product_image
		where 	product_id = #{productId}
	</select>
	
	<update id="updateProductYnh" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_ynh = #{productYnh}
		where 	product_id = #{productId}
	</update>
	
	<update id="deleteProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_del_flag = 'Y'
		where 	product_id = #{productId}
	</update>
	
	<delete id="deleteProductImage" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		delete 	product_image
		where 	product_id = #{productId}
	</delete>
	
	<update id="updateProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_name = #{productName}
		, 		category_code = #{categoryCode}
		, 		product_price = #{productPrice}
		, 		product_content = #{productContent}
		where 	product_id = #{productId}
	</update>

</mapper>