<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopmanage">

	<insert id="productEnroll" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		insert into product
		values
		(
			#{productId}
			, #{productName}
			, #{productPrice}
			, default
			, sysdate
			, #{productContent}
			, default
			, #{shopId}
			, #{categoryCode}
		)
	</insert>
	
	<insert id="productImageEnroll" parameterType="com.kh.sharecarrot.product.model.vo.ProductImage">
		insert into product_image
		values
		(
			seq_product_image_no.nextval
			, #{productImgOrigin}
			, #{productImgRenamed}
			, #{productId}
		)
	</insert>
	
	<select id="selectShopInfo" parameterType="String" resultType="com.kh.sharecarrot.shop.model.vo.Shop">
		select 	shop_id
				, shop_total_score
				, shop_visit_count
				, shop_sell_count
				, shop_memo
				, member_id
		from 	shop
		where 	member_id = #{memberId}
	</select>
	
	<select id="selectProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.Product">
			select 	product_id
					, product_name
					, product_price
					, product_ynh
					, product_reg_date
					, product_content
					, product_del_flag
					, shop_id
					, category_code
			from 	product
			where 	product_del_flag = 'N'
			<if test="shopId != '' and shopId != null">
			and 	shop_id = #{shopId}
			</if>
			<if test="productId != '' and productId != null">
			and 	product_id = #{productId}
			</if>
			<if test="productName != '' and productName != null">
			and 	product_name like '%' || #{productName} || '%'
			</if>
			<if test="productYnh != '' and productYnh != null">
			and 	product_ynh = #{productYnh}
			</if>
			<if test="categoryCode != '' and categoryCode != null">
			and 	category_code = #{categoryCode}
			</if>
	</select>
	
	<select id="selectProductList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.Product">
		select *
		from
			(select a.*, rownum as rnum
			from
				(select a.product_id
						, a.product_name
						, a.product_price
						, a.product_ynh
						, a.product_reg_date
						, a.product_content
						, a.product_del_flag
						, a.shop_id
						, a.category_code
						, nvl(b.cnt, 0) as jjim_cnt
				from 	product a
				left outer 
                join (
                    	select 	product_id
                    			, count(product_id) as cnt
                    	from 	jjim_list
                    	group by product_id
                ) b
                on a.product_id = b.product_id
				where 	product_del_flag = 'N'
				<if test="shopId != '' and shopId != null">
				and 	shop_id = #{shopId}
				</if>
				<if test="productId != '' and productId != null">
				and 	product_id = #{productId}
				</if>
				<if test="productName != '' and productName != null">
				and 	product_name like '%' || #{productName} || '%'
				</if>
				<if test="productYnh != '' and productYnh != null">
				and 	product_ynh = #{productYnh}
				</if>
				<if test="categoryCode != '' and categoryCode != null">
				and 	category_code = #{categoryCode}
				</if>
				order by product_id desc
				)a
			)
		where rnum  <![CDATA[>=]]> 5 * (to_number(#{pageNum}) -1) +1 and rnum <![CDATA[<=]]> 5 * to_number(#{pageNum})
	</select>
	
	<select id="selectProductListCount" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="Integer">
		select 	count(*)
		from 	product
		where 	product_del_flag = 'N'
		<if test="shopId != '' and shopId != null">
		and 	shop_id = #{shopId}
		</if>
		<if test="productId != '' and productId != null">
		and 	product_id = #{productId}
		</if>
		<if test="productName != '' and productName != null">
		and 	product_name like '%' || #{productName} || '%'
		</if>
		<if test="productYnh != '' and productYnh != null">
		and 	product_ynh = #{productYnh}
		</if>
		<if test="categoryCode != '' and categoryCode != null">
		and 	category_code = #{categoryCode}
		</if>
	</select>
	
	<select id="selectProductImageList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.ProductImage">
		select  *
		from 	product_image
		where 	product_id = #{productId}
	</select>
	
	<update id="updateProductYnh" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_ynh = #{productYnh}
		where 	product_id = #{productId}
	</update>
	
	<update id="deleteProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_del_flag = 'Y'
		where 	product_id = #{productId}
	</update>
	
	<delete id="deleteProductImage" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		delete 	product_image
		where 	product_id = #{productId}
	</delete>
	
	<update id="updateProduct" parameterType="com.kh.sharecarrot.product.model.vo.Product">
		update 	product
		set 	product_name = #{productName}
		, 		category_code = #{categoryCode}
		, 		product_price = #{productPrice}
		, 		product_content = #{productContent}
		where 	product_id = #{productId}
	</update>
	
	<select id="selectTransactionList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.product.model.vo.Product">
		select *
		from
			(select a.*, rownum as rnum
			from
				(select a.product_id
				 		, a.review_yn
				 		, a.shop_id
				 		, a.member_id
				 		, b.product_name
				 		, b.product_reg_date
				from 	transaction_history a
				 		, product b
				where 	a.product_id = b.product_id
				<if test="shopId != '' and shopId != null">
				and     a.shop_id= #{shopId}
				</if>
				<if test="memberId != '' and memberId != null">
				and     a.member_id= #{memberId}
				</if>
				<if test="productYnh != '' and productYnh != null">
				and 	b.product_ynh = #{productYnh}
				</if>
			)a
		)
		where rnum  <![CDATA[>=]]> 5 * (to_number(#{pageNum}) -1) +1 and rnum <![CDATA[<=]]> 5 * to_number(#{pageNum})
	</select>
	
	<select id="selectTransactionListCount" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="Integer">
		select 	count(*)
		from 	transaction_history a
		 		, product b
		where 	a.product_id = b.product_id
		<if test="shopId != '' and shopId != null">
		and     a.shop_id= #{shopId}
		</if>
		<if test="memberId != '' and memberId != null">
		and     a.member_id= #{memberId}
		</if>
		<if test="productYnh != '' and productYnh != null">
		and 	b.product_ynh = #{productYnh}
		</if>
	</select>
	
	<select id="selectProductJjimList" parameterType="com.kh.sharecarrot.product.model.vo.Product" resultType="com.kh.sharecarrot.utils.model.vo.JjimList">
		select 	jjim_no
				, product_id
				, member_id
		from 	jjim_list
		where 	product_id= #{productId}
	</select>
	
	<insert id="insertTransactionHistory" parameterType="com.kh.sharecarrot.transactionhistory.model.vo.TransactionHistory">
		insert into transaction_history
		values (
			#{productId}
			, 'N'
			, #{shopId}
			, #{memberId}
		)
	</insert>
	
	<insert id="insertStoreReview" parameterType="com.kh.sharecarrot.storereviews.model.vo.StoreReviews">
		insert into store_reviews
		values (
			seq_store_reviews_no.nextval
			, #{reviewTitle}
			, #{reviewContent}
			, #{reviewScore}
			, 'N'
			, #{productId}
		)
		<selectKey keyProperty="reviewNo" order="AFTER" resultType="int" >
			select review_no from store_reviews where product_id = #{productId}
		</selectKey>
	</insert>

	<update id="updateTransactionHisoryReviewYn" parameterType="String">
		update 	transaction_history
		set 	review_yn = 'Y'
		where 	product_id = #{productId}
	</update>
	
	<select id="selectStoreReview" parameterType="com.kh.sharecarrot.storereviews.model.vo.StoreReviews" resultType="com.kh.sharecarrot.storereviews.model.vo.StoreReviews">
		select 	review_no
				, review_title
				, review_content
				, review_score
				, product_id
		from 	store_reviews
		where 	product_id = #{productId}
	
	</select>
	
	<insert id="insertReviewImage" parameterType="com.kh.sharecarrot.storereviews.model.vo.ReviewImage">
		insert into review_image
		values(
			seq_review_image_no.nextval
			, #{reviewImgOrigin}
			, #{reviewImgRenamed}
			, #{reviewNo}
		)
	</insert>
	
	<select id="selectStoreReviewImage" parameterType="com.kh.sharecarrot.storereviews.model.vo.StoreReviews" resultType="com.kh.sharecarrot.storereviews.model.vo.ReviewImage">
		select 	review_img_no
			 	, review_img_origin
			 	, review_img_renamed
			 	, review_no
		from 	review_image
		where 	review_no = #{reviewNo}
	</select>

</mapper>